*
{
  margin: 0;
  padding: 0;
}
body
{
  line-height: 20px;
  font-family: Nunito, sans-serif;
}

#header 
{
  background-image: url(imagens/world2.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 470px;
}

#summary
{
  margin: 40px;
}

#about-me, #formation, #contact
{
  color: yellow;
  margin: 150px;
  font-size: 30px;
  text-decoration: none;
  font-style: bold;
}

#name-city-pic
{
  text-align: center;
} 
#my-name, #my-location
{
  text-align: center;
  color: white;
}
#my-name
{
  padding: 25px;
  font-size: 3em;
}

#name-city-pic img
{
  margin: 20px;
  border-radius: 50%;
  width: 220px;
  height: 250px;
  margin-top: 20px;
  
}

#myself
{
  background-image: linear-gradient(gray, rgba(10, 8, 19, 0));
  padding: 30px;
}

#eu 
{
  font-weight: bold;
  font-size: 2em;
}

.my-infos
{
  margin-left: 300px;
  margin-right: 300px;
  line-height: 30px;
  font-size: 23px;
  text-align: center;
  margin-bottom: 25px;  
}

.main-val
{
  font-weight: bold;
  font-size: 30px;
  margin-bottom, margin-top: 15px;
  
}

#skills-list, #values-list
{
  font-size: 25px;
  margin: 20px;
  line-height: 30px;
  list-style-type:square;
  width: 280px;
}

li.list:hover
{
  color: yellow;
} 

#list-block img
{
  width: 400px;
  float: right;
  margin-right: 300px;
}

/* body {
       background-color: #f4f7f5;
       line-height: 20px;
       font-family: Nunito, sans-serif;            
     }


#header {
      background-image: url(imagens/world2.jpg);
      background-size: cover;
      padding: 30px 30px 40px;
        }    

a.summary-info { position: absolute;
color:yellow;
font-size: 20px;
right: 50%;
text-decoration: none;
display: inline-block;
}


#header-pic {
    
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
}
#header-pic img {
    position:absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(17%);
    
  }

  h1, h3 {
    text-align:center;
    color: white;
   }

h3 { margin-top: 15px;}

p, ul {
       font-family: Arial, Helvetica, sans-serif;
     }
        
p {
    color: #222823;        
  }


        
ul {
            color: #575a5e;
            text-decoration: underline;        
        }

h2 {
            font-size: 30px;
            }
        
.skills {
            font-size: 25px;
            font-weight: 600;   
        } */
    




